@font-face {
    font-family: 'Amiga4Ever';
    src: url('../src/fonts/amiga/amiga4ever.ttf') format('truetype');

}

@font-face {
    font-family: 'Amiga4EverPro';
    src: url('../src/fonts/amiga/amiga4ever pro.ttf') format('truetype');
}
* {
    font-family: 'Amiga4Ever', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  background: #9B87FF !important;
  height: 100%;

}
